@page
@model Music_Review_Application_GUI.Pages.Forms.DiscoverModel
@{
    ViewData["Title"] = "Discover";
}

<h2>Songs</h2>
<br/>
<div>
    <label>Select a genre:</label>
    <select name="rating">
        @foreach (var genre in DiscoverModel.Genres)
        {
            <option value="10"><a class="nav-link text-dark" asp-area="" asp-page="/Forms/Discover" asp-route-songId="@genre.Id">@genre.GenreName</a></option>
        }
    </select>
</div>
<br />
@foreach (var song in DiscoverModel.Songs)
{
    <p>
        <a class="nav-link text-dark" asp-area="" asp-page="/Forms/SongPage" asp-route-songId="@song.Id">@song.Title</a>
    </p>
}
<br />
<h2>Albums</h2>
@foreach (var album in DiscoverModel.Albums)
{
    <p>
        <a class="nav-link text-dark" asp-area="" asp-page="/Forms/AlbumPage/@album.Id">@album.Title</a>
    </p>
}