@page "{songId?}"
@model Music_Review_Application_GUI.Pages.Forms.SongPageModel
@{
}

<h2>@SongPageModel.Song.Title</h2>
<br />
<br />
<div>
    @if (SongPageModel.Song.Score == 0)
    {
        <p>
            <h4>Score: N/A</h4>
        </p>
    }
    else
    {
        <p>
            <h4>Score: @SongPageModel.Song.Score.ToString("0.00")</h4>
            <h6>       @SongPageModel.Ratings ratings</h6>
        </p>
    }
    <button type="submit">
        <a class="nav-link text-dark" asp-area="" asp-page="/Forms/SongRatingPage" asp-route-songId="@SongPageModel.Song.Id">Rate this song</a>
    </button>
</div>
<br />
<div>
    <p>
        <h4>Song Information</h4>
    </p>
    <h6>Artists:</h6>
    @foreach (var artistName in SongPageModel.Song.ArtistNames)
    {
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Forms/ArtistPage" asp-route-artistName="@artistName">@artistName</a>
        </p>
    }
</div>
<br />
<div>
    <h6>Genres:</h6>
    @foreach (var genre in SongPageModel.Song.Genres)
    {
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Forms/DiscoverGenre" asp-route-genreId="@genre.Id">@genre.GenreName</a>
        </p>
    }
</div>
<br />
<div>
    <h4>Reviews:</h4>
    <br/>
    <button type="submit">
        <a class="nav-link text-dark" asp-area="" asp-page="/Forms/SongReviewPage" asp-route-songId="@SongPageModel.Song.Id">Review this song</a>
    </button>
    <div>
        @foreach (var review in SongPageModel.WrittenReviews)
        {
            <br />
            <h6>User @review.Username gave this song a score of @review.Score</h6>
            <p> @review.Review</p>
        }
    </div>
</div>