@page "{songId?}"
@model Music_Review_Application_GUI.Pages.Forms.SongPageModel
@{
}

<h2>@SongPageModel.Song.Title</h2>
<br />
<br />
<div>
    @if (SongPageModel.Song.Score == 0)
    {
        <p>
            <h4>Score: N/A</h4>
        </p>
    }
    else
    {
        <p>
            <h4>Score: @SongPageModel.Song.Score.ToString("0.00")</h4>
        </p>
    }
    <button type="submit">
        <a class="nav-link text-dark" asp-area="" asp-page="/Forms/SongRatingPage" asp-route-songId="@SongPageModel.Song.Id">Rate this song</a>
    </button>
</div>
<br />
<div>
    <p>
        <h4>Song Information</h4>
    </p>
    <p>Artists:</p>
    @foreach (var artistName in SongPageModel.Song.ArtistNames)
    {
        <label>
            <a class="nav-link text-dark" asp-area="" asp-page="/Forms/ArtistPage" asp-route-songId="@artistName">@artistName</a>
        </label>
    }
</div>
<br />
<div>
    <p>Genres:</p>
    @foreach (var genre in SongPageModel.Song.Genres)
    {
        <label>@genre.GenreName</label>
    }
</div>